<!-- header -->
<header class="header py-4">
    <div class="container navs d-flex align-center">
        <a href="../pages/index.html"><img src="../assets/images/logo-white.png" alt="眼鏡官網logo"></a>
        
        <ul class="nav d-flex">
            <li><a href="catena.html">系列鏡框</a></li>
            <li class="ml-16"><a href="location.html">門市據點</a></li>
            <li class="ml-16"><a href="blogs.html">部落格</a></li>
            <li class="ml-16"><a href="question.html">常見問題</a></li>
        </ul>
    </div>  
</header>