// header  -----------------------------------
.header {
  background-color: $primary-color;
  img {
      width: 80px;
      // height: 48.57px;
  }
  a {
      color:#FFFFFF;
      font-size: 20px;
  }
}