// header  -----------------------------------
.header {
  background-color: $primary-color;
  img {
      width: 80px;
      // height: 48.57px;
  }
  a {
      color:#FFFFFF;
      font-size: 20px;
  }
}

@media (max-width: 768px) {
  .header {
      padding-inline: 36px;
  }
}
@media (max-width: 640px) {
    .nav {
        li {
            a {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
  }

@media (max-width: 576px) {
  .header {
      padding-inline: 0px;
      padding-bottom: 0px;
      margin: 0;
      img {
          margin-bottom: 12px;
          margin-left: 15px
      }
  }
  .navs {
      flex-direction: column;
      align-items: start;
  }
  .nav {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      li {
          width: 50%;
          padding: 12px 0px;
          border: 1px solid #FFFFFF;
          text-align: center;
          margin-left: 0px;          
      }
      a {
          font-size: 16px;
          line-height: 24px;
      }
  }
}