//  通用
.black {
    color: #000000;
}
.my-20 {
    margin-block: 80px;
}
.mt-24 {
    margin-top: 96px;
}
// -------------------------------------
.blog {
    margin-top: 96px;
}
.blog-nav {
    background-color: #650300;
    padding: 13px 0px;
}
.nav-list {
    display: flex;
    li {
        margin-right: 48px;
    }
    a {
        color:#FFFFFF;
        font-size: 20px;
        line-height: 30px;
    }
}
.search {
    color: #FFFFFF;
    font-size: 30px;
}
.blog-item {
    margin-bottom: 60px;
}

.blog-content {
    h2 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 400;
        a {
            color:#650300;
        }
    }
    p {
        color: #555555;
        font-size: 20px;
        line-height: 30px;
    }
}

.blog-info {
    font-weight: 600;
    align-items: center;
    margin-bottom: 16px;
    h3 {
        font-size: 20px;
        line-height: 30px;
    }
    span {
        opacity: 0.7;
    }
}

.more-btn {
    color:#650300;
    font-size: 36px;
    line-height: 54px;
    font-weight: 900;
}

.page-btn {
    margin-block: 80px;
}


@media (max-width: 768px) {
    .blog {
        margin-top: 80px;
    }
    .blog-content {
        h2 {
            font-size: 24px;
            line-height: 36px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .blog-info {
        h3 {
            font-size: 16px;
            line-height: 24px;
        }
        span {
            opacity: 0.7;
        }
    }
    .more-btn {
        display: none;
    }
}

@media (max-width: 576px) {
    .blog {
        margin-top: 40px;
    }
    .blog-nav {
        display: none;
    }
    .title {
        font-size: 24px;
        line-height: 36px;
    }
    .blog-item {
        flex-direction: column;
        margin-bottom: 24px;
        img {
            width: 100%;
            margin-bottom: 8px;
        }
        .blog-content {
            p {
                display: none;
            }
        }
    }
    .page-btn {
        margin-block: 64px;
    }

}