.location {
    padding-block: 96px;
}

.location-content {
    max-width: 40.59%;
    h2 {
        padding: 8px 24px;
        font-size: 24px;
        font-weight: 300;
        line-height: 36px;
        color: #000000;
        border: 1px solid #00000020 ;
    }
    a {
        padding: 16px 0px;
        background-color: #000000;
        color: #FFFFFF;
        text-align: center;
        width: 100%;
    }
}

.location-map {
    width: 57.56%;
}